<!DOCTYPE html>
<html lang="en">
<head>
  <title>Podporná Aplikácia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
     .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background: #775572;
      color: #fff;
    }
    
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
     color: #fff;
     background-color: #50394c;
    }
    .btn{
        background: #ffef96;
    }
    
    /* Set height of the grid so .sidenav can be 100%*/
    .row.content {height: 100%;
        padding-bottom: 50px;
        }    
    ul {list-style-type: none;}   
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      height: 100%;
    }

     img {
      padding-top: 40px;
      }
        
    h2 {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    /* Set black background color, white text and some padding */
    footer {
      background-color: #775572;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>   
      </button>
     </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/?q=1">Štart</a></li>
        <li class="active"><a href="/?q=28">O projekte</a></li>
       </ul>
     </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-3 sidenav">
    </div>
    <div class="col-sm-6 text-center"> 
      
        
<h1>Podrobnosti projektu</h1>
<h3>Tento projekt vznikol ako súčasť bakalárskej práce. Jeho hlavným cieľom je pomôcť uživateľovi pri výbere jednotlivých blockchain architektúr. 
    Funguje to na princípe rozhodovacieho stromu. Jednotlivé stromy na seba nadväzujú. </h3>

   <h3> <a href="{{ url_for('static', filename='strom11.png' )}}">Prvý strom</a> a <a href="{{ url_for('static', filename='strom21.png' )}}">Druhý strom</a> </h3>
   <h2> Akonáhle dôjdeme ku záveru používame nasledujúcu mapu pre intepretáciu pozície medzi inými blockchain riešeniami.
      <img class="img-responsive center-block" src="{{ url_for('static', filename='mapa.png' )}}">
  </div>
  <div class="col-sm-3 sidenav">
    </div>
</div>

<footer class="container-fluid text-center">
  <p>Vypracoval Dušan Trnka. Podporná aplikácia pre bakalársku prácu.</p>
</footer>

</body>
</html>
