<!DOCTYPE html>
<html lang="en">
<head>
  <title>Podporná Aplikácia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
     .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background: #775572;
      color: #fff;
    }
    
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
     color: #fff;
     background-color: #50394c;
    }
    .btn{
        background: #ffef96;
    }
    .row.content {height: 100%;
        padding-bottom: 50px;
        }    
    /*Disabled Bolts*/
    ul {list-style-type: none;}   
    .sidenav {
      padding-top: 20px;
      height: 100%;
    }
    /*Extra padding for image*/
    img {
      padding-top: 40px;
       }
       /*Extra padding*/
    h2 {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    footer {
     background-color: #775572;
      color: white;
      padding: 15px;
    }
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>   
      </button>
     </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/?q=1">Štart</a></li>
        <li><a href="/?q=28">O projekte</a></li>
       </ul>
     </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-3 sidenav">
    </div>
    <div class="col-sm-6 text-center"> 
      
      <h2>Výsledok: {{ description }}</h2>
     
    <p>
      {{ text_output }}
    </p>

      <img class="img-responsive center-block" src="{{ url_for('static', filename='mapa.png' )}}">
     </div>
  <div class="col-sm-3 sidenav">
    </div>
</div>

<footer class="container-fluid text-center">
  <p>Vypracoval Dušan Trnka. Podporná aplikácia pre bakalársku prácu.</p>
</footer>

</body>
</html>
