<!DOCTYPE html>
<html lang="en">
<head>
  <title>Podporná Aplikácia</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background: #775572;
      color: #fff;
    }
    /*Color changed*/
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
     color: #fff;
     background-color: #50394c;
    }
    .btn{
        background: #ffef96;
    }
    /*fixed height set*/
    .row.content {height: 850px;
        } 
    /*Disabled bolts*/   
    ul {list-style-type: none;}   
  
    .sidenav {
      padding-top: 20px;
      height: 100%;
    }
    .form-group{
        padding-top: 10px;
   }
   /*extra padding*/
    h2 {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    /*Color setting and padding*/
    footer {
      background-color: #775572;
      color: white;
      padding: 15px;
    }
    
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>   
      </button>
     </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/?q=1">Štart</a></li>
        <li><a href="/?q=28">O projekte</a></li>
       </ul>
     </div>
  </div>
</nav>
  
<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-3 sidenav">
    </div>
    <div class="col-sm-6 text-center">
    <!-- Title from the node --> 
      <h2>{{ description }}</h2>
      <!-- text from the node -->
        {{text_output}}
<form class"form form-horizontal" id="command" method="post" >
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}
    <div class="form-group row">
      <!-- Questions from FlaskWTFForms -->
                   {{ form.answer }}
           </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-6">
            <button type="submit" class="btn btn-default btn-block">Ďalšia otázka</button>
        </div>
    </div>
</form>

  </div>
  <div class="col-sm-3 sidenav">
    </div>
</div>

<footer class="container-fluid text-center">
 <p>Vypracoval Dušan Trnka. Podporná aplikácia pre bakalársku prácu.</p>
</footer>

</body>
</html>
